.LeftContent {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: cornflowerblue;
}

@media screen and (max-width: 1024px){ /* Phone, Tab */
	.LeftContent {
		width: 100vw;
		height: 15vh;
	}
}

@media screen and (min-width: 1024px){ /* PC */
	.LeftContent {
		width: 30vw;
		height: 100vh;
	}
}